%h2 工作职能
%table#capabilities
	%tbody
		%tr
			%td
				%ul.floating_white
					%h3 
						中国办事处的核心竞争力
					- cn_china_office.each do |a|
						%li= a
			%td
				%ul.floating_white
					%h3
						美国办事处职能
					- cn_usa_office.each do |b|
						%li= b