#core_three
	.third_left
		.floating_white
			.core_wrap
				= image_tag 'bridge2.png', :alt => "Bridging the Gap"
				.headline
					%h3 架起桥梁  >>
					%p
						QPC了解东西方社会的差异，并协助客户解决潜在的问题
	.third_left
		.floating_white
			.core_wrap
				= image_tag 'dragon.png', :alt => "Spearheading Projects"
				.headline
					%h3 关键技能  >>
					%p 
						QPC为客户他们不具备的国际交易所需的技能（例如，管理方法，文化/语言，法律，会计）
	.third_left
		.floating_white
			.core_wrap
				= image_tag 'office.png', :alt => "Executing Deals"
				.headline
					%h3 重点项目 	>>
					%p 
						QPC与客户合作，在他们承接项目之前了解他们的需求并省去无效的运作，让客户能专注于正确的道路上并获得自己想要的结果