- @title = 'Consulting Projects'

%h1 Consulting Projects
.half_left
	.floating_white
		.core_wrap
			= image_tag 'building_materials.png', :alt => "Building Materials"
			.headline
				%h3 建筑材料  >>
				%p
					为新产品从研发全球拓展进入30个市场。这些市场近10年每年产品销售额达5亿美元。
.half_left
	.floating_white
		.core_wrap
			= image_tag 'textile.png', :alt => "Textiles"
			.headline
				%h3 纺织  >>
				%p 
					需求导向项目，协助服装生产线寻找供应商。供应导向项目，为制造商开发国际市场。
.half_left
	.floating_white
		.core_wrap
			= image_tag 'electronics.png', :alt => "Electronics"
			.headline
				%h3 电子  >>
				%p 
					电子工业的多个项目，涉及电子产品生命周期每个阶段的产品
.half_left
	.floating_white
		.core_wrap
			= image_tag 'medical.png', :alt => "Medical Devices/Instruments"
			.headline
				%h3 医疗用具  >>
				%p 
					尖端医疗用品与用具