- @title = 'Consulting Projects'

%h1 Consulting Projects
.half_left
	.floating_white
		.core_wrap
			= image_tag 'building_materials.png', :alt => "Building Materials"
			.headline
				%h3 Building Materials  >>
				%p
					Guided process for new product from R&D to global expansion entering 30+ markets.  In less than 10 years the product has reached $500 mill in annual sales.
.half_left
	.floating_white
		.core_wrap
			= image_tag 'textile.png', :alt => "Textiles"
			.headline
				%h3 Textiles  >>
				%p 
					Demand-oriented projects assisting clothing manufacturers in finding alternative suppliers, in addition to supply-oriented projects developing international markets for manufacturers.
.half_left
	.floating_white
		.core_wrap
			= image_tag 'electronics.png', :alt => "Electronics"
			.headline
				%h3 Electronics  >>
				%p 
					Multiple projects in the electronics industry working with products at every stage of product life.
.half_left
	.floating_white
		.core_wrap
			= image_tag 'medical.png', :alt => "Medical Devices/Instruments"
			.headline
				%h3 Medical Devices  >>
				%p 
					New projects involving cutting-edge surgical technology and other medical instruments.