# encoding: utf-8

- @title = 'Contact Us'

%h1 Contact Us
%table#capabilities
	%tbody
		%tr
			%td
				%ul.floating_white
					%h3 
						Gregory Wilson
					%li{'data-icon' => "^"}
						美国纽约
					%li{'data-icon' => "$"}
						= link_to 'gwilson@qpcpartners.com', 'mailto: gwilson@qpcpartners.com'
					%li{'data-icon' => "%"}
						+1 240 291 0120 (美国)
					%li{'data-icon' => "&"}
						gregory.andrew.wilson
			%td
				%ul.floating_white
					%h3
						Jimmy Song
					%li{'data-icon' => "^"}
						中国杭州
					%li{'data-icon' => "$"}
						= link_to 'jsong@qpcpartners.com', 'mailto: jsong@qpcpartners.com'
					%li{'data-icon' => "%"}
						+86 1336 225 4070 (中国)