# encoding: utf-8

- @title = "不动产项目"

%h1.real_estate 不动产项目
%h3.real_estate
	= link_to("投资财产", '#investment_properties')
	| 
	=link_to("投资项目", '#investment_projects')

#investment_properties
	%h2 
		投资财产
	#properties_wrapper
		%h3 
			商业和住宅
			%p 
				As the representative of Corcoran Group in China, QPC is uniquely positioned to offer clients its clients the finest property options across The Big Apple.
			= link_to image_tag('corcoran.png'), "http://www.corcoran.com"
	= image_tag("corcoran_home.png", :class => "right")
#investment_projects
	%h2 
		投资项目
	#projects_wrapper
		%h3
			华盛顿
			%p
				这个房产是位于华盛顿大都会区的国家公园学院历史上著名的街区, 地段周围公园环绕, 树木繁茂, 距离华盛顿大都会区1.5公里, 距离地铁站1公里。这个独特的位置, 坐落在国家公园及邻近新近装修的高档住宅区。该物业目前状况较差, 没有人居住的
			.list_p
				%br
				%p 
					%strong
						地区: 
					Forest Glen Park
				%p 
					%strong
						房子: 
					别墅
				%p 
					%strong
						面积: 
					233平方米
					%strong
						卧室: 
					3
					%strong
						洗手间: 
					2.5
					%br
					离华盛顿大都会区1.5公里,  离地铁站1公里
	= image_tag "forestglen.jpg"