- @title = 'Executive Summary'
#summary_wrapper	
	%aside.left
		%h1 Deal Profiles
		%ul
			%li
				%h4
					Business Development Consulting
				%p
					Chinese and United States clients entering international markets
			%li
				%h4
					Corporate Expansion/Investments
				%p
					Business development and cross border expansion 
			%li
				%h4
					Private Company Expansion
				%p
					Small-cap clients $0.5-10 mill USD-short term;
					Mid-cap clients $10-20 mill USD-mid term
	%article.right
		%h1 执行摘要
		%p{:style => "font-size: 2rem; font-weight: 100;"}
			全景商务拓展有限公司（QPC）在参加哈佛商学院校园的执行教育课程构想的项目。参与者有机会与许多很有才的同学和教师讨论当下的全球经济环境与个人背景。创始合作伙伴在程上相遇，而立刻意识到他们的合作的必然性。双方都从事中外并购交易业务的开发管理，他们都对中美俩国的交易环境进行了深刻的探讨。
		%p{:style => "font-size: 2rem; font-weight: 100;"}
			在过去的二十年里，中国的经济实力以惊人的速度增加。直到最近，政府干预鼓励财政收入的大部分留在中国。近五年来，由于中国政府放松对金融的控制，中国的一些大规模公司开始扩大自己的业务和跨界的影响力． 
		%p{:style => "font-size: 2rem; font-weight: 100;"}
			由于中国国内投资市场的超额认购以及客户收益的减少，国际市场受到全球金融危机引起的资产缩水的打击。 QPC的业务重点是协助小中型的中国客户识别并评估机会，明确国际法规以及如何执行交易。此外，QPC将就大型M＆A交易和商业开发项目提供额外咨商服务。