@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,500,500italic,100);
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
 */
/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
/* line 33, ../../app/assets/stylesheets/application.css.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 42, ../../app/assets/stylesheets/application.css.scss */
body {
  line-height: 1;
}

/* line 46, ../../app/assets/stylesheets/application.css.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 49, ../../app/assets/stylesheets/application.css.scss */
nav ul {
  list-style: none;
}

/* line 52, ../../app/assets/stylesheets/application.css.scss */
blockquote, q {
  quotes: none;
}

/* line 56, ../../app/assets/stylesheets/application.css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 60, ../../app/assets/stylesheets/application.css.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 68, ../../app/assets/stylesheets/application.css.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 74, ../../app/assets/stylesheets/application.css.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 80, ../../app/assets/stylesheets/application.css.scss */
del {
  text-decoration: line-through;
}

/* line 83, ../../app/assets/stylesheets/application.css.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 87, ../../app/assets/stylesheets/application.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 92, ../../app/assets/stylesheets/application.css.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 100, ../../app/assets/stylesheets/application.css.scss */
input, select {
  vertical-align: middle;
}

/* 1/3 width floating white box image with header and summary */
/* @mixin navlink-hover-bg($n, $color)   <--   defined in _nav.css.scss */
/* other stylesheets included at bottom of page */
/* line 6, ../../app/assets/stylesheets/_base.css.scss */
html {
  font-size: 62.5%;
}

/* =10px */
/* line 7, ../../app/assets/stylesheets/_base.css.scss */
body {
  font-size: 14px;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background: #515151 url("bg.jpg") top fixed;
}

/* line 16, ../../app/assets/stylesheets/_base.css.scss */
＃wrapper {
  width: 100%;
  background: transparent;
}

/* line 20, ../../app/assets/stylesheets/_base.css.scss */
.wrapper {
  position: relative;
}

/* line 23, ../../app/assets/stylesheets/_base.css.scss */
.right {
  float: right;
}

/* line 24, ../../app/assets/stylesheets/_base.css.scss */
.left {
  float: left;
}

/* line 25, ../../app/assets/stylesheets/_base.css.scss */
#container_header {
  width: 960px;
  height: 16rem;
  margin: 0 auto;
}

/* line 30, ../../app/assets/stylesheets/_base.css.scss */
#container {
  width: 960px;
  display: relative;
  margin: 0 auto;
  color: white;
  min-height: 100%;
  height: auto !important;
}

/* line 38, ../../app/assets/stylesheets/_base.css.scss */
h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 200 !important;
  padding: 0.5rem 0 2rem 0;
}

/* line 44, ../../app/assets/stylesheets/_base.css.scss */
h2 {
  font-size: 2.8rem;
  font-size: 28px;
  font-weight: 100 !important;
  padding: 0.5rem 0;
}

/* line 50, ../../app/assets/stylesheets/_base.css.scss */
h3 {
  font-size: 2.0rem;
  font-size: 20px;
  font-weight: 200;
  padding: .5rem 0;
}

/* line 56, ../../app/assets/stylesheets/_base.css.scss */
h4 {
  font-size: 1.6rem;
  font-size: 16px;
  font-weight: 400;
  padding: 1rem;
  margin: 0.5rem 0;
}

/* line 63, ../../app/assets/stylesheets/_base.css.scss */
h5 {
  font-size: 2.0rem;
  font-size: 20px;
  color: blue;
  font: bold italic;
}

/* line 69, ../../app/assets/stylesheets/_base.css.scss */
h6 {
  font-size: 1.6rem;
  font-size: 16px;
  font-style: bold;
}

/* line 74, ../../app/assets/stylesheets/_base.css.scss */
p {
  line-height: 2.1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

/* line 79, ../../app/assets/stylesheets/_base.css.scss */
a {
  color: #003a75;
  text-decoration: none;
}
/* line 82, ../../app/assets/stylesheets/_base.css.scss */
a:visited {
  color: #012342;
  text-decoration: none;
}
/* line 86, ../../app/assets/stylesheets/_base.css.scss */
a:hover {
  text-decoration: underline;
}

/* line 90, ../../app/assets/stylesheets/_base.css.scss */
article {
  -webkit-box-shadow: 0rem 0.1rem 2rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 2rem #16224f;
  -o-box-shadow: 0rem 0.1rem 2rem #16224f;
  box-shadow: 0rem 0.1rem 2rem #16224f;
  width: 60%;
  padding: 1.5rem 2rem;
  background-color: white;
  color: #111;
}

/* line 97, ../../app/assets/stylesheets/_base.css.scss */
aside {
  width: 33%;
}

/* line 2, ../../app/assets/stylesheets/_header.css.scss */
header {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
}
/* line 8, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust {
  width: 960px;
  margin: 0 auto;
}
/* line 11, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #logobox {
  float: left;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  padding: 1.4rem 1.0rem;
}
/* line 17, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #top_bar {
  float: right;
  display: block;
  width: 69%;
  color: #145189;
}
/* line 22, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #top_bar .language {
  margin: 0 0 0 1rem;
  font-size: 2.4rem;
  float: right;
  margin: 1rem 0;
}
/* line 27, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #top_bar .language a {
  -webkit-box-shadow: 0rem 0.1rem 2rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 2rem #16224f;
  -o-box-shadow: 0rem 0.1rem 2rem #16224f;
  box-shadow: 0rem 0.1rem 2rem #16224f;
  -webkit-transition: all 400ms ease-in-out 0s;
  -moz-transition: all 400ms ease-in-out 0s;
  -o-transition: all 400ms ease-in-out 0s;
  transition: all 400ms ease-in-out 0s;
  padding: .6rem 1rem;
  background-color: white;
}
/* line 32, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #top_bar .language a:hover {
  text-decoration: none;
  color: white;
  background-color: red;
  -webkit-transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}
/* line 38, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #top_bar .language a:active {
  -webkit-box-shadow: inset 0rem 0.1rem 0.6rem #515151;
  -moz-box-shadow: inset 0rem 0.1rem 0.6rem #515151;
  -o-box-shadow: inset 0rem 0.1rem 0.6rem #515151;
  box-shadow: inset 0rem 0.1rem 0.6rem #515151;
}
/* line 43, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #top_bar .locations {
  float: right;
  padding: 0.9rem 0;
  width: 66%;
  height: auto;
  text-align: center;
  color: white;
  font-size: 1.4rem;
}
/* line 51, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #top_bar .locations ul {
  margin: 0.5rem 0;
  list-style: none;
}
/* line 54, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #top_bar .locations ul li {
  display: inline;
  margin: 0 1rem;
}
/* line 61, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #header_space {
  position: relative;
  text-align: right;
  color: white;
  font-size: 1.0rem;
}
/* line 66, ../../app/assets/stylesheets/_header.css.scss */
header .header_width_adjust #header_space .message {
  position: absolute;
  padding: 1rem;
  background-color: white;
  top: 6rem;
  right: 0;
  font-size: 1.6rem;
  color: green;
}

/* stylesheet-specific @mixin [	contains nav item stylings ] */
/* line 26, ../../app/assets/stylesheets/_nav.css.scss */
nav {
  -webkit-box-shadow: 0rem 0.1rem 2rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 2rem #16224f;
  -o-box-shadow: 0rem 0.1rem 2rem #16224f;
  box-shadow: 0rem 0.1rem 2rem #16224f;
  float: left;
  display: inline-block;
  width: auto;
  height: 1.8rem;
  margin: 1.5rem 0 3rem 0;
  padding: 0.85rem 0;
}
/* line 36, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li {
  float: left;
  width: auto;
}
/* line 5, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(1) a {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  color: #fff;
}
/* line 10, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(1) a:hover {
  background-color: red;
  -webkit-transition: background-color 0.25s ease-in-out 0s;
  -moz-transition: background-color 0.25s ease-in-out 0s;
  -o-transition: background-color 0.25s ease-in-out 0s;
  transition: background-color 0.25s ease-in-out 0s;
  color: white;
  text-decoration: none;
}
/* line 16, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(1) a:active {
  -webkit-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -moz-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -o-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -webkit-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  background-color: #e60000;
}
/* line 5, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(2) a {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  color: #fff;
}
/* line 10, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(2) a:hover {
  background-color: green;
  -webkit-transition: background-color 0.25s ease-in-out 0s;
  -moz-transition: background-color 0.25s ease-in-out 0s;
  -o-transition: background-color 0.25s ease-in-out 0s;
  transition: background-color 0.25s ease-in-out 0s;
  color: white;
  text-decoration: none;
}
/* line 16, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(2) a:active {
  -webkit-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -moz-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -o-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -webkit-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  background-color: #006600;
}
/* line 5, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(3) a {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  color: #fff;
}
/* line 10, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(3) a:hover {
  background-color: #80007f;
  -webkit-transition: background-color 0.25s ease-in-out 0s;
  -moz-transition: background-color 0.25s ease-in-out 0s;
  -o-transition: background-color 0.25s ease-in-out 0s;
  transition: background-color 0.25s ease-in-out 0s;
  color: white;
  text-decoration: none;
}
/* line 16, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(3) a:active {
  -webkit-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -moz-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -o-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -webkit-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  background-color: #660066;
}
/* line 5, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(4) a {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  color: #fff;
}
/* line 10, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(4) a:hover {
  background-color: #ffd900;
  -webkit-transition: background-color 0.25s ease-in-out 0s;
  -moz-transition: background-color 0.25s ease-in-out 0s;
  -o-transition: background-color 0.25s ease-in-out 0s;
  transition: background-color 0.25s ease-in-out 0s;
  color: white;
  text-decoration: none;
}
/* line 16, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(4) a:active {
  -webkit-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -moz-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -o-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -webkit-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  background-color: #e6c300;
}
/* line 5, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(5) a {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  color: #fff;
}
/* line 10, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(5) a:hover {
  background-color: blue;
  -webkit-transition: background-color 0.25s ease-in-out 0s;
  -moz-transition: background-color 0.25s ease-in-out 0s;
  -o-transition: background-color 0.25s ease-in-out 0s;
  transition: background-color 0.25s ease-in-out 0s;
  color: white;
  text-decoration: none;
}
/* line 16, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(5) a:active {
  -webkit-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -moz-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -o-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -webkit-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  background-color: #0000e6;
}
/* line 5, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(6) a {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  color: #fff;
}
/* line 10, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(6) a:hover {
  background-color: #999999;
  -webkit-transition: background-color 0.25s ease-in-out 0s;
  -moz-transition: background-color 0.25s ease-in-out 0s;
  -o-transition: background-color 0.25s ease-in-out 0s;
  transition: background-color 0.25s ease-in-out 0s;
  color: white;
  text-decoration: none;
}
/* line 16, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(6) a:active {
  -webkit-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -moz-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -o-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -webkit-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  background-color: #8c8c8c;
}
/* line 5, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(7) a {
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 250ms ease-in-out 0s;
  -moz-transition: all 250ms ease-in-out 0s;
  -o-transition: all 250ms ease-in-out 0s;
  transition: all 250ms ease-in-out 0s;
  color: #fff;
}
/* line 10, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(7) a:hover {
  background-color: maroon;
  -webkit-transition: background-color 0.25s ease-in-out 0s;
  -moz-transition: background-color 0.25s ease-in-out 0s;
  -o-transition: background-color 0.25s ease-in-out 0s;
  transition: background-color 0.25s ease-in-out 0s;
  color: white;
  text-decoration: none;
}
/* line 16, ../../app/assets/stylesheets/_nav.css.scss */
nav #nav_wrapper ul li:nth-child(7) a:active {
  -webkit-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -moz-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -o-box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  box-shadow: inset 0rem 0.1rem 0.5rem #515151;
  -webkit-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  background-color: #660000;
}

/* line 6, ../../app/assets/stylesheets/_pages.css.scss */
#summary_wrapper {
  position: relative;
  display: inline-block;
}
/* line 10, ../../app/assets/stylesheets/_pages.css.scss */
#summary_wrapper aside h2 {
  color: white;
  border-bottom: 1rem;
  padding: .5rem .5rem 0 .5rem;
}
/* line 15, ../../app/assets/stylesheets/_pages.css.scss */
#summary_wrapper aside ul {
  list-style: none;
}
/* line 17, ../../app/assets/stylesheets/_pages.css.scss */
#summary_wrapper aside ul li {
  margin: 1rem 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 400ms ease-in-out 0s;
  -moz-transition: all 400ms ease-in-out 0s;
  -o-transition: all 400ms ease-in-out 0s;
  transition: all 400ms ease-in-out 0s;
}
/* line 22, ../../app/assets/stylesheets/_pages.css.scss */
#summary_wrapper aside ul li:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 400ms ease-in-out 0s;
  -moz-transition: all 400ms ease-in-out 0s;
  -o-transition: all 400ms ease-in-out 0s;
  transition: all 400ms ease-in-out 0s;
}
/* line 26, ../../app/assets/stylesheets/_pages.css.scss */
#summary_wrapper aside ul li h4 {
  margin: 0;
  padding: 1rem 0;
  font-size: 1.8rem;
}

/* line 36, ../../app/assets/stylesheets/_pages.css.scss */
aside.contact {
  margin: 1rem 0;
  float: left;
  padding: 1rem;
  width: 19rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
}
/* line 44, ../../app/assets/stylesheets/_pages.css.scss */
aside.contact p {
  font-size: 1.8rem;
  color: white;
  -webkit-transition: all 400ms ease-in-out 0s;
  -moz-transition: all 400ms ease-in-out 0s;
  -o-transition: all 400ms ease-in-out 0s;
  transition: all 400ms ease-in-out 0s;
}
/* line 49, ../../app/assets/stylesheets/_pages.css.scss */
aside.contact:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 400ms ease-in-out 0s;
  -moz-transition: all 400ms ease-in-out 0s;
  -o-transition: all 400ms ease-in-out 0s;
  transition: all 400ms ease-in-out 0s;
}

/* line 55, ../../app/assets/stylesheets/_pages.css.scss */
form {
  float: right;
  margin: 0 auto;
}
/* line 59, ../../app/assets/stylesheets/_pages.css.scss */
form table td {
  padding: 0 1rem;
}
/* line 61, ../../app/assets/stylesheets/_pages.css.scss */
form table td h3 {
  margin: 0.5rem 0 0.5rem 0;
}
/* line 63, ../../app/assets/stylesheets/_pages.css.scss */
form table td h3 label {
  width: 30rem;
}
/* line 67, ../../app/assets/stylesheets/_pages.css.scss */
form table td .left {
  width: 27.5rem;
}
/* line 70, ../../app/assets/stylesheets/_pages.css.scss */
form table td input {
  width: 26rem;
  border-width: 0;
  border-style: none;
  padding: 0.8rem;
  font-size: 1.8rem;
  margin: 1rem 0;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 80, ../../app/assets/stylesheets/_pages.css.scss */
form table td input:hover {
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
}
/* line 83, ../../app/assets/stylesheets/_pages.css.scss */
form table td input:focus {
  -webkit-box-shadow: 0rem 0.1rem 2rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 2rem #16224f;
  -o-box-shadow: 0rem 0.1rem 2rem #16224f;
  box-shadow: 0rem 0.1rem 2rem #16224f;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 88, ../../app/assets/stylesheets/_pages.css.scss */
form table td .right {
  width: 42rem;
  float: right;
}
/* line 91, ../../app/assets/stylesheets/_pages.css.scss */
form table td .right textarea {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  float: right;
  font-family: 'Roboto', sans-serif;
  width: 40rem;
  height: 19.2rem;
  border-width: 0;
  border-style: none;
  padding: 0.8rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
/* line 104, ../../app/assets/stylesheets/_pages.css.scss */
form table td .right textarea:hover {
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
}
/* line 107, ../../app/assets/stylesheets/_pages.css.scss */
form table td .right textarea:focus {
  -webkit-box-shadow: 0rem 0.1rem 2rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 2rem #16224f;
  -o-box-shadow: 0rem 0.1rem 2rem #16224f;
  box-shadow: 0rem 0.1rem 2rem #16224f;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 112, ../../app/assets/stylesheets/_pages.css.scss */
form table td .right input[type=submit] {
  float: right;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  background-color: white;
  width: 50%;
}
/* line 117, ../../app/assets/stylesheets/_pages.css.scss */
form table td .right input[type=submit]:hover {
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
  background-color: red;
  color: white;
  cursor: pointer;
}
/* line 124, ../../app/assets/stylesheets/_pages.css.scss */
form table td .right input[type=submit]:active {
  -webkit-transition: all 100ms ease-in-out 0s;
  -moz-transition: all 100ms ease-in-out 0s;
  -o-transition: all 100ms ease-in-out 0s;
  transition: all 100ms ease-in-out 0s;
  -webkit-box-shadow: inset 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: inset 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: inset 0rem 0.1rem 1rem #16224f;
  box-shadow: inset 0rem 0.1rem 1rem #16224f;
  background-color: maroon;
  color: white;
}

/* line 136, ../../app/assets/stylesheets/_pages.css.scss */
.third_left {
  float: left;
  width: 31.8%;
}
/* line 139, ../../app/assets/stylesheets/_pages.css.scss */
.third_left:nth-child(2) {
  margin: 0 1rem 0 0;
}
/* line 27, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(2) .floating_white {
  position: relative;
  height: 41.1rem;
  background-color: white;
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
}
/* line 32, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(2) .floating_white .core_wrap {
  position: relative;
}
/* line 34, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(2) .floating_white .core_wrap img {
  padding: 1rem 1rem;
  opacity: 0.6;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -ms-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 40, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(2) .floating_white .core_wrap .headline {
  position: absolute;
  bottom: 0rem;
  padding: .5rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 1.1rem 1rem;
  width: 86.9%;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 49, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(2) .floating_white .core_wrap .headline h3 {
  margin: 1rem 0;
}
/* line 52, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(2) .floating_white .core_wrap .headline p {
  font-size: 1.4rem;
  display: none;
  padding-bottom: .5rem;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 60, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(2) .floating_white .core_wrap:hover img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 65, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(2) .floating_white .core_wrap:hover .headline {
  background-color: purple;
}
/* line 67, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(2) .floating_white .core_wrap:hover .headline p {
  display: inline;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
/* line 143, ../../app/assets/stylesheets/_pages.css.scss */
.third_left:nth-child(3) {
  margin: 0 1rem;
}
/* line 27, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(3) .floating_white {
  position: relative;
  height: 41.1rem;
  background-color: white;
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
}
/* line 32, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(3) .floating_white .core_wrap {
  position: relative;
}
/* line 34, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(3) .floating_white .core_wrap img {
  padding: 1rem 1rem;
  opacity: 0.6;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -ms-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 40, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(3) .floating_white .core_wrap .headline {
  position: absolute;
  bottom: 0rem;
  padding: .5rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 1.1rem 1rem;
  width: 86.9%;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 49, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(3) .floating_white .core_wrap .headline h3 {
  margin: 1rem 0;
}
/* line 52, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(3) .floating_white .core_wrap .headline p {
  font-size: 1.4rem;
  display: none;
  padding-bottom: .5rem;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 60, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(3) .floating_white .core_wrap:hover img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 65, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(3) .floating_white .core_wrap:hover .headline {
  background-color: purple;
}
/* line 67, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(3) .floating_white .core_wrap:hover .headline p {
  display: inline;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
/* line 147, ../../app/assets/stylesheets/_pages.css.scss */
.third_left:nth-child(4) {
  margin: 0 0 0 1rem;
}
/* line 27, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(4) .floating_white {
  position: relative;
  height: 41.1rem;
  background-color: white;
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
}
/* line 32, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(4) .floating_white .core_wrap {
  position: relative;
}
/* line 34, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(4) .floating_white .core_wrap img {
  padding: 1rem 1rem;
  opacity: 0.6;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -ms-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 40, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(4) .floating_white .core_wrap .headline {
  position: absolute;
  bottom: 0rem;
  padding: .5rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 1.1rem 1rem;
  width: 86.9%;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 49, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(4) .floating_white .core_wrap .headline h3 {
  margin: 1rem 0;
}
/* line 52, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(4) .floating_white .core_wrap .headline p {
  font-size: 1.4rem;
  display: none;
  padding-bottom: .5rem;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 60, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(4) .floating_white .core_wrap:hover img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 65, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(4) .floating_white .core_wrap:hover .headline {
  background-color: purple;
}
/* line 67, ../../app/assets/stylesheets/_mixins.css.scss */
.third_left:nth-child(4) .floating_white .core_wrap:hover .headline p {
  display: inline;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

/* line 153, ../../app/assets/stylesheets/_pages.css.scss */
h2.core_actions {
  position: relative;
  margin: 45rem 0 0 0;
  height: 3.2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 162, ../../app/assets/stylesheets/_pages.css.scss */
#strategy ul {
  display: inline-block;
  background-color: white;
  list-style: none;
  color: black;
  margin: 0 0 3rem 0;
  -webkit-box-shadow: 0rem 0.1rem 1.5rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1.5rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1.5rem #16224f;
  box-shadow: 0rem 0.1rem 1.5rem #16224f;
}
/* line 169, ../../app/assets/stylesheets/_pages.css.scss */
#strategy ul li {
  float: left;
  text-align: center;
  padding: 1rem 1.4rem;
  font-size: 1.8rem;
  font-weight: 200;
  width: auto;
  cursor: pointer;
}
/* line 179, ../../app/assets/stylesheets/_pages.css.scss */
#strategy ul li:hover {
  background-color: #999;
  color: white;
}

/* line 187, ../../app/assets/stylesheets/_pages.css.scss */
h2.right {
  position: relative;
  font-size: 1.6rem;
  display: block;
  color: white;
  -webkit-transition: all 150ms ease-in-out 0s;
  -moz-transition: all 150ms ease-in-out 0s;
  -o-transition: all 150ms ease-in-out 0s;
  transition: all 150ms ease-in-out 0s;
  margin: -4rem 2rem 0 0;
}

/* line 196, ../../app/assets/stylesheets/_pages.css.scss */
table#capabilities {
  position: relative;
  width: 100%;
  display: block;
}
/* line 202, ../../app/assets/stylesheets/_pages.css.scss */
table#capabilities tbody tr td {
  padding: 1rem 0 0 0;
}
/* line 204, ../../app/assets/stylesheets/_pages.css.scss */
table#capabilities tbody tr td:nth-child(2) {
  padding: 0 0 0 2rem;
}
/* line 207, ../../app/assets/stylesheets/_pages.css.scss */
table#capabilities tbody tr td h3 {
  font-size: 2.4rem;
  padding: 1rem .5rem;
}
/* line 211, ../../app/assets/stylesheets/_pages.css.scss */
table#capabilities tbody tr td ul.floating_white {
  -webkit-box-shadow: 0rem 0.1rem 1.5rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1.5rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1.5rem #16224f;
  box-shadow: 0rem 0.1rem 1.5rem #16224f;
  background-color: white;
  color: black;
  padding: .5rem 1rem;
  width: 45rem;
}
/* line 217, ../../app/assets/stylesheets/_pages.css.scss */
table#capabilities tbody tr td ul.floating_white li {
  padding: 1rem 0.5rem;
  list-style-type: circle;
}

/* line 226, ../../app/assets/stylesheets/_pages.css.scss */
#services_wrapper {
  display: inline-block;
}

/* line 230, ../../app/assets/stylesheets/_pages.css.scss */
article#services {
  margin: 0rem 0;
  float: left;
  width: 60%;
  display: inline-block;
}

/* line 237, ../../app/assets/stylesheets/_pages.css.scss */
.half_left {
  float: left;
  width: 48.3%;
}
/* line 240, ../../app/assets/stylesheets/_pages.css.scss */
.half_left:nth-child(2) {
  margin: 0 1.2rem 0 0;
}
/* line 27, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(2) .floating_white {
  position: relative;
  height: 24rem;
  background-color: white;
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
}
/* line 32, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(2) .floating_white .core_wrap {
  position: relative;
}
/* line 34, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(2) .floating_white .core_wrap img {
  padding: 1rem 1rem;
  opacity: 0.6;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -ms-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 40, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(2) .floating_white .core_wrap .headline {
  position: absolute;
  bottom: 0rem;
  padding: .5rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 1.1rem 1rem;
  width: 91.3%;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 49, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(2) .floating_white .core_wrap .headline h3 {
  margin: 1rem 0;
}
/* line 52, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(2) .floating_white .core_wrap .headline p {
  font-size: 1.4rem;
  display: none;
  padding-bottom: .5rem;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 60, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(2) .floating_white .core_wrap:hover img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 65, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(2) .floating_white .core_wrap:hover .headline {
  background-color: maroon;
}
/* line 67, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(2) .floating_white .core_wrap:hover .headline p {
  display: inline;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
/* line 244, ../../app/assets/stylesheets/_pages.css.scss */
.half_left:nth-child(3) {
  margin: 0 1rem;
}
/* line 27, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(3) .floating_white {
  position: relative;
  height: 24rem;
  background-color: white;
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
}
/* line 32, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(3) .floating_white .core_wrap {
  position: relative;
}
/* line 34, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(3) .floating_white .core_wrap img {
  padding: 1rem 1rem;
  opacity: 0.6;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -ms-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 40, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(3) .floating_white .core_wrap .headline {
  position: absolute;
  bottom: 0rem;
  padding: .5rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 1.1rem 1rem;
  width: 91.3%;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 49, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(3) .floating_white .core_wrap .headline h3 {
  margin: 1rem 0;
}
/* line 52, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(3) .floating_white .core_wrap .headline p {
  font-size: 1.4rem;
  display: none;
  padding-bottom: .5rem;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 60, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(3) .floating_white .core_wrap:hover img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 65, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(3) .floating_white .core_wrap:hover .headline {
  background-color: purple;
}
/* line 67, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(3) .floating_white .core_wrap:hover .headline p {
  display: inline;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
/* line 248, ../../app/assets/stylesheets/_pages.css.scss */
.half_left:nth-child(4) {
  margin: 3rem 1.2rem 0 0;
}
/* line 27, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(4) .floating_white {
  position: relative;
  height: 24rem;
  background-color: white;
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
}
/* line 32, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(4) .floating_white .core_wrap {
  position: relative;
}
/* line 34, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(4) .floating_white .core_wrap img {
  padding: 1rem 1rem;
  opacity: 0.6;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -ms-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 40, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(4) .floating_white .core_wrap .headline {
  position: absolute;
  bottom: 0rem;
  padding: .5rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 1.1rem 1rem;
  width: 91.3%;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 49, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(4) .floating_white .core_wrap .headline h3 {
  margin: 1rem 0;
}
/* line 52, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(4) .floating_white .core_wrap .headline p {
  font-size: 1.4rem;
  display: none;
  padding-bottom: .5rem;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 60, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(4) .floating_white .core_wrap:hover img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 65, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(4) .floating_white .core_wrap:hover .headline {
  background-color: orange;
}
/* line 67, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(4) .floating_white .core_wrap:hover .headline p {
  display: inline;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
/* line 252, ../../app/assets/stylesheets/_pages.css.scss */
.half_left:nth-child(5) {
  margin: 3rem 0 0 1rem;
}
/* line 27, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(5) .floating_white {
  position: relative;
  height: 24rem;
  background-color: white;
  -webkit-box-shadow: 0rem 0.1rem 1rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 1rem #16224f;
  -o-box-shadow: 0rem 0.1rem 1rem #16224f;
  box-shadow: 0rem 0.1rem 1rem #16224f;
}
/* line 32, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(5) .floating_white .core_wrap {
  position: relative;
}
/* line 34, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(5) .floating_white .core_wrap img {
  padding: 1rem 1rem;
  opacity: 0.6;
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -ms-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 40, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(5) .floating_white .core_wrap .headline {
  position: absolute;
  bottom: 0rem;
  padding: .5rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin: 1.1rem 1rem;
  width: 91.3%;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 49, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(5) .floating_white .core_wrap .headline h3 {
  margin: 1rem 0;
}
/* line 52, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(5) .floating_white .core_wrap .headline p {
  font-size: 1.4rem;
  display: none;
  padding-bottom: .5rem;
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 60, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(5) .floating_white .core_wrap:hover img {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -webkit-transition: all 300ms ease-in-out 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/* line 65, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(5) .floating_white .core_wrap:hover .headline {
  background-color: green;
}
/* line 67, ../../app/assets/stylesheets/_mixins.css.scss */
.half_left:nth-child(5) .floating_white .core_wrap:hover .headline p {
  display: inline;
  -webkit-transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}

/* line 257, ../../app/assets/stylesheets/_pages.css.scss */
#services_list {
  float: right;
  width: 35.7%;
  text-align: right;
  font-size: 2.0rem;
}
/* line 262, ../../app/assets/stylesheets/_pages.css.scss */
#services_list ul li {
  list-style: none;
  margin: 0 0 1.4rem 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
  -webkit-transition: background-color 200ms ease-in-out 0s;
  -moz-transition: background-color 200ms ease-in-out 0s;
  -o-transition: background-color 200ms ease-in-out 0s;
  transition: background-color 200ms ease-in-out 0s;
}
/* line 268, ../../app/assets/stylesheets/_pages.css.scss */
#services_list ul li:hover {
  background-color: gray;
  -webkit-transition: background-color 200ms ease-in-out 0s;
  -moz-transition: background-color 200ms ease-in-out 0s;
  -o-transition: background-color 200ms ease-in-out 0s;
  transition: background-color 200ms ease-in-out 0s;
}

/* line 274, ../../app/assets/stylesheets/_pages.css.scss */
h3.real_estate {
  margin: -1.0rem 0 2rem 0;
}
/* line 276, ../../app/assets/stylesheets/_pages.css.scss */
h3.real_estate a {
  color: white;
  -webkit-transition: color 150ms ease-in-out 0s;
  -moz-transition: color 150ms ease-in-out 0s;
  -o-transition: color 150ms ease-in-out 0s;
  transition: color 150ms ease-in-out 0s;
}
/* line 279, ../../app/assets/stylesheets/_pages.css.scss */
h3.real_estate a:hover {
  color: red;
  text-decoration: none;
  -webkit-transition: color 150ms ease-in-out 0s;
  -moz-transition: color 150ms ease-in-out 0s;
  -o-transition: color 150ms ease-in-out 0s;
  transition: color 150ms ease-in-out 0s;
}

/* line 286, ../../app/assets/stylesheets/_pages.css.scss */
#investment_properties {
  padding: 1rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 0 3rem 0;
  -webkit-box-shadow: 0rem 0.1rem 2rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 2rem #16224f;
  -o-box-shadow: 0rem 0.1rem 2rem #16224f;
  box-shadow: 0rem 0.1rem 2rem #16224f;
}
/* line 292, ../../app/assets/stylesheets/_pages.css.scss */
#investment_properties .right {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
/* line 297, ../../app/assets/stylesheets/_pages.css.scss */
#investment_properties img[class=right] {
  border: 2px solid #000;
}
/* line 300, ../../app/assets/stylesheets/_pages.css.scss */
#investment_properties h2 {
  color: black;
  margin: 0 0 1rem 0;
}
/* line 304, ../../app/assets/stylesheets/_pages.css.scss */
#investment_properties #properties_wrapper {
  width: 30%;
  padding: 1rem;
  background-color: black;
}
/* line 308, ../../app/assets/stylesheets/_pages.css.scss */
#investment_properties #properties_wrapper h3 {
  margin: 0rem 0 1rem 0;
}
/* line 311, ../../app/assets/stylesheets/_pages.css.scss */
#investment_properties #properties_wrapper p {
  margin: 1rem 0 1rem 0;
  font-size: 1.6rem;
}
/* line 315, ../../app/assets/stylesheets/_pages.css.scss */
#investment_properties #properties_wrapper img[alt="Corcoran"] {
  margin: 1rem 0 -1.5rem 0;
}

/* line 321, ../../app/assets/stylesheets/_pages.css.scss */
#investment_projects {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0 0 3rem 0;
  -webkit-box-shadow: 0rem 0.1rem 2rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 2rem #16224f;
  -o-box-shadow: 0rem 0.1rem 2rem #16224f;
  box-shadow: 0rem 0.1rem 2rem #16224f;
}
/* line 326, ../../app/assets/stylesheets/_pages.css.scss */
#investment_projects h2 {
  color: black;
  margin: 0 0 1rem 0;
}
/* line 330, ../../app/assets/stylesheets/_pages.css.scss */
#investment_projects #projects_wrapper {
  width: 58%;
  float: right;
  padding: 1rem 1rem 0 1rem;
  background-color: black;
}
/* line 335, ../../app/assets/stylesheets/_pages.css.scss */
#investment_projects #projects_wrapper h2 {
  color: white;
}
/* line 338, ../../app/assets/stylesheets/_pages.css.scss */
#investment_projects #projects_wrapper h3 {
  margin: 0;
}
/* line 341, ../../app/assets/stylesheets/_pages.css.scss */
#investment_projects #projects_wrapper .list_p {
  margin: 1.5rem 0;
}
/* line 343, ../../app/assets/stylesheets/_pages.css.scss */
#investment_projects #projects_wrapper .list_p p {
  margin: 0;
}
/* line 347, ../../app/assets/stylesheets/_pages.css.scss */
#investment_projects #projects_wrapper p {
  margin: 1rem 0 0 0;
  font-size: 1.6rem;
}
/* line 351, ../../app/assets/stylesheets/_pages.css.scss */
#investment_projects #projects_wrapper img[alt="Corcoran"] {
  margin: 1rem 0 -1.5rem 0;
}

/* line 357, ../../app/assets/stylesheets/_pages.css.scss */
#home_container {
  position: relative;
  display: block;
  width: 96rem;
  height: 60.5rem;
  margin: 0 auto;
}
/* line 363, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper {
  width: 100%;
}
/* line 365, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .right-col {
  width: 30%;
  float: right;
}
/* line 368, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .right-col .black-base-with-shadow {
  -webkit-box-shadow: 0rem 0.1rem 2rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 2rem #16224f;
  -o-box-shadow: 0rem 0.1rem 2rem #16224f;
  box-shadow: 0rem 0.1rem 2rem #16224f;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/* line 373, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 378, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col #home_updates img {
  float: left;
  margin-right: 1rem;
}
/* line 382, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col #home_updates article.update {
  float: left;
  width: 65%;
  display: inline-block;
  padding: 1rem;
  margin-bottom: 3rem;
}
/* line 388, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col #home_updates article.update h1 {
  float: left;
}
/* line 391, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col #home_updates article.update #update_title {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}
/* line 395, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col #home_updates article.update #update_body {
  font-size: 1.7rem;
  padding-right: .5rem;
}
/* line 401, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col #home_links {
  float: left;
  width: 65%;
}
/* line 404, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col #home_links h1 {
  position: relative;
}
/* line 407, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col #home_links a {
  margin: 0 auto;
  padding: 3rem 1rem;
}
/* line 410, ../../app/assets/stylesheets/_pages.css.scss */
#home_container #home_wrapper .left-col #home_links a .white-base-with-shadow {
  -webkit-box-shadow: 0rem 0.1rem 2rem #16224f;
  -moz-box-shadow: 0rem 0.1rem 2rem #16224f;
  -o-box-shadow: 0rem 0.1rem 2rem #16224f;
  box-shadow: 0rem 0.1rem 2rem #16224f;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

/* line 1, ../../app/assets/stylesheets/_footer.css.scss */
footer {
  float: right;
  display: inline-block;
  padding: 1.5rem;
  margin: 3rem 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/* line 8, ../../app/assets/stylesheets/_footer.css.scss */
footer a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 150ms ease-in-out 0s;
  -moz-transition: color 150ms ease-in-out 0s;
  -o-transition: color 150ms ease-in-out 0s;
  transition: color 150ms ease-in-out 0s;
}
/* line 12, ../../app/assets/stylesheets/_footer.css.scss */
footer a:visited {
  color: white;
}
/* line 15, ../../app/assets/stylesheets/_footer.css.scss */
footer a:hover {
  color: #999;
  text-decoration: none;
  -webkit-transition: color 150ms ease-in-out 0s;
  -moz-transition: color 150ms ease-in-out 0s;
  -o-transition: color 150ms ease-in-out 0s;
  transition: color 150ms ease-in-out 0s;
}
