<footer class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='cp-rght'>
        © <%= Time.now.year %> | <%= link_to "apcpartners.com", root_path %> | All rights reserved
      </div>
    </div>
  </div>
</footer>
