<h2>Capabilities</h2>
<table id="capabilities">
  <tbody>
    <tr>
      <td>
        <ul class="floating_white">
          <h3>
            China Office
          </h3>
          <% china_office.each do |a| %>
            <li>
              <%= a %>
            </li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul class="floating_white">
          <h3>
            USA Office
          </h3>
          <% usa_office.each do |b| %>
            <li>
              <%= b %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
