#core_three	
	.third_left
		.floating_white
			.core_wrap
				= image_tag 'bridge2.png', :alt => "Bridging the Gap"
				.headline
					%h3 Bridging the Gap  >>
					%p
						With in-depth cross-cultural understanding, QPC assists its clients in addressing potential issues involved with international investment, before they arise.
	.third_left
		.floating_white
			.core_wrap
				= image_tag 'dragon.png', :alt => "Spearheading Projects"
				.headline
					%h3 Spearheading Projects  >>
					%p 
						Our aim is to effectively consult our clients on the hurdles and requirements involved in international expansion, to eliminate bottlenecks and allow clients to focus on developing strategies for the future.
	.third_left
		.floating_white
			.core_wrap
				= image_tag 'office.png', :alt => "Executing Deals"
				.headline
					%h3 Executing Deals 	>>
					%p 
						We provide our clients with the knowledge and skills necessary to successfully execute international transactions. (ie. management, cultural briefings, and language, legal, and financial services)