- @title = 'Contact Us'

.container
	%h1 Contact Us
	%p.lead Please feel free to contact us via the form or contact information below.
	%br.hidden-sm
	%br.hidden-sm
	%br.visible-lg
	%br.visible-lg
	.container
		%form.form-group{:action => "post"}
			.row
				.col-lg-9.col-sm-9.col-12
					.row
						.col-lg-4.col-sm-4.col-12
							%h4.text-right.hidden-sm Full Name
							%h4.text-left.visible-sm Full Name
						.col-lg-8.col-sm-8.col-12
							%input.form-control{"type"=>"text"}
					%br
					.row
						.col-lg-4.col-sm-4.col-12
							%h4.text-right.hidden-sm Email Address
							%h4.text-left.visible-sm Email Address
						.col-lg-8.col-sm-8.col-12
							%input.form-control{"type"=>"text"}
					%br
					.row
						.col-lg-4.col-sm-4.col-12
							%h4.text-right.hidden-sm Phone Number
							%h4.text-left.visible-sm Phone Number
						.col-lg-8.col-sm-8.col-12
							%input.form-control{"type"=>"text"}
					%br
					.row
						.col-lg-4.col-sm-4.col-12
							%h4.text-right.hidden-sm Message Body
							%h4.text-left.visible-sm Message Body
						.col-lg-8.col-sm-8.col-12
							%textarea.form-control{"rows"=>"5"}
					%br
					.row
						.col-offset-8.col-lg-4
							%button{"type"=>"submit", "class"=>"btn btn-block"} Submit
				.col-lg-3.col-sm-3.col-12
					%br.visible-sm
					%br.visible-sm
					%br.visible-sm
					%address.hidden-sm
						%strong Gregory Wilson
						%br
						New York, NY, USA
						%br
						+1 240 291 0120
						%br
						= link_to 'gwilson@qpcpartners.com', 'mailto: gwilson@qpcpartners.com'
						%br
						%strong Skype 
						gregory.andrew.wilson
					%address.lead.visible-sm
						%strong Gregory Wilson
						%br
						New York, NY, USA
						%br
						+1 240 291 0120
						%br
						= link_to 'gwilson@qpcpartners.com', 'mailto: gwilson@qpcpartners.com'
						%br
						%strong Skype 
						gregory.andrew.wilson
					%br
					%address.hidden-sm
						%strong Jimmy Song
						%br
						Hangzhou, CN
						%br
						+86 1336 225 4070
						%br
						= link_to 'jsong@qpcpartners.com', 'mailto: jsong@qpcpartners.com'
					%address.lead.visible-sm
						%strong Jimmy Song
						%br
						Hangzhou, CN
						%br
						+86 1336 225 4070
						%br
						= link_to 'jsong@qpcpartners.com', 'mailto: jsong@qpcpartners.com'
			%br.visible-lg
			%br.visible-lg
			%br.visible-lg