<div class='container'>
  <h1><%= t('contacts.title') %></h1>
  <p class='lead'><%= t('contacts.lead') %></p>
  <br class='hidden-sm' />
  <div class='container'>
    <%= render 'shared/flash_message' %>
    <%= render 'pages/contact/contact_form' %>
  </div>
</div>

