- @title = 'Services'

.container
	%article#services
		%h1 Services

		#services_list
		%ul
			- strategic_actions.each_with_index do |action,i|
				%li{:name => i}= action

		%h3 Deal Profiles

		%p Consulting Services – Individual, company or corporation requiring cross border professional business advice or services. QPC partners build on their business experience in over 30 countries to assist clients on a consulting basis. 

		%p Client – China or US based private citizen, entrepreneur or corporation with investable assets > $1mill USD and an appetite for cross border investments or business expansion.   

		%p Target Acquisition – US based company, project, real estate or assets presenting opportunities to create growth and value for stakeholders. At present, most US assets are under-valued while the country's economic outlook is improving. In order to fund growth, or relieve debt, these companies must obtain capital from the troubled US banking industry or through strategic partnerships. Company size of < $20 mill USD yearly revenue and < $10 mill USD deal size. 

		%h3 Niche Markets

		%p QPC offers services to Chinese and United States clients with requirements falling outside the scope of services provided by large institutions and investment banks. Focusing on small and medium deals involving Chinese entities establishing or acquiring assets in the USA.  These transactions require specific skills which are rare in the small-medium size deal segment.  In addition QPC offers US clients troubleshooting assistance, business development consulting, and guidance in capturing Chinese consumer demand.   
