- @title = @cn ? '执行摘要' : 'Executive Summary'
.container
	%h1.hidden-sm= @cn ? '执行摘要' : 'About QPC Partners'
	%h1.visible-sm= @cn ? '执行摘要' : 'About QPC'
	- if !@cn
		.row
			.col-lg-9
				%br
				.col-lg-6.col-sm-6.col-12
					
				.col-lg-6.col-sm-6.col-12
					.col-12
						.panel
							.panel-heading 
								%h3.panel-title Our Clients
							%p China and US based private citizens, entrepreneurs and corporations with investable assets exceeding $1million USD and an appetite for cross-border investments and business. 
					.col-12
						.panel
							.panel-heading 
								%h3.panel-title Consulting Services
							%p We offer consulting services to individuals, companies and corporations requiring professional cross-border business advice and services. QPC Partners build on their business experience in more than 30 countries to assist clients on a consulting basis.   	
				.col-12
					.col-12
						.panel
							.panel-heading 
								%h3.panel-title Target Acquisition
							%p US-based companies, projects, real estate or assets presenting opportunities to create growth and value for stakeholders. At present, most US assets are under-valued while the country's economic outlook is improving. In order to fund growth, or relieve debt, these companies must obtain capital from the troubled US banking industry or through strategic partnerships. 
							Companies showing less than $20 million USD annual revenue with deal size less than $10 million USD.
				%br
			.col-lg-3
				.col-12
					%h3 Executive Summary
					%br 
					%p
						For the past two decades, China’s economic power has increased at an astonishing rate. Government controls have encouraged the majority of financial proceeds to remain within China, until recently. Over the last five years, the largest Chinese firms have begun expanding their operations and influence abroad, as the Chinese government strides to loosen financial controls. 
					%p
						With the market for Chinese internal investments becoming over-saturated and diminishing returns weighing on clients' minds, international markets struck by the global financial crisis will offer discounted assets. QPC’s aim is to assist small-to-mid-cap Chinese clients identify & evaluate opportunities, navigate international regulations and broker deals. Additionally QPC offers consulting services on an ad hoc basis for larger M&A deals and business development projects.
	- else
		.row
			.col-lg-9
				%br
				.col-lg-6.col-sm-6.col-12
					
				.col-lg-6.col-sm-6.col-12
					.col-12
						.panel
							.panel-heading 
								%h3.panel-title 客户
							%p 可投资资产> 100万美元并希望跨境投资或拓展业务的中国和美国的普通公民，公司和企业。中国客户主要来源于中国一、二线城市。在过去的二十年中，由于中国的经济繁荣和人民币或外币的现金流入和财富积累，这些客户都获得了利益。中国的经济增长和投资回报率不断下降，减少了开放外国直接投资机会的可能性。美国的客户主要是来自于东北海岸，他们主要看上了中国的出口量和消费者需求的日益增大。 
					.col-12
						.panel
							.panel-heading 
								%h3.panel-title 咨询服务
							%p 个人，公司或需要跨境专业业务咨询服务的企业。 QPC的合作伙伴将在30多个国家建立自己的业务网络，在咨询上协助客户。   	
				.col-12
					.col-12
						.panel
							.panel-heading 
								%h3.panel-title 收购目标
							%p 在美国的公司，项目，房地产或资产为利益相关者提供了机会，创造了增长和价值。目前，大多数美国资产价值被低估，但国家的经济前景正在改善。为了价值增长或减轻债务，这些公司必须获得的资金，但却是很难从陷入困境的美国银行业或战略合作伙伴那里获得的。 年收益额小于20,000,000美元的公司规模和小于10,000,000美元的交易额。
				%br
			.col-lg-3
				.col-12
					%h3 执行摘要
					%br 
					%p
						全景商务拓展有限公司（QPC）在参加哈佛商学院校园的执行教育课程构想的项目。参与者有机会与许多很有才的同学和教师讨论当下的全球经济环境与个人背景。创始合作伙伴在程上相遇，而立刻意识到他们的合作的必然性。双方都从事中外并购交易业务的开发管理，他们都对中美俩国的交易环境进行了深刻的探讨。
					%p
						在过去的二十年里，中国的经济实力以惊人的速度增加。直到最近，政府干预鼓励财政收入的大部分留在中国。近五年来，由于中国政府放松对金融的控制，中国的一些大规模公司开始扩大自己的业务和跨界的影响力． 
					%p
						由于中国国内投资市场的超额认购以及客户收益的减少，国际市场受到全球金融危机引起的资产缩水的打击。 QPC的业务重点是协助小中型的中国客户识别并评估机会，明确国际法规以及如何执行交易。此外，QPC将就大型M＆A交易和商业开发项目提供额外咨商服务。