- @title = 'Executive Summary'
#summary_wrapper	
	%article.right
		%h1 Executive Summary
		%p
			The founding vision for Quantum Perspective Consultancy (QPC) was formulated during an executive education program at Harvard Business School. Participants in the program would meet to discuss the current global business environment and develop business partnerships. The founding partners built QPC based on their experiences as business development executives engaged in Sino-foreign deal making. 
		%p
			For the past two decades, China’s economic power has increased at an astonishing rate. Government controls have encouraged the majority of financial proceeds to remain within China, until recently. Over the last five years, the largest Chinese firms have begun expanding their operations and influence abroad, as the Chinese government strides to loosen financial controls. 
		%p
			With the market for Chinese internal investments becoming over-saturated and diminishing returns weighing on clients' minds, international markets struck by the global financial crisis will offer discounted assets. QPC’s aim is to assist small-to-mid-cap Chinese clients identify & evaluate opportunities, navigate international regulations and broker deals. Additionally QPC offers consulting services on an ad hoc basis for larger M&A deals and business development projects.
	%aside.left
		%h1 Deal Profiles
		%ul
			%li
				%h4
					Business Development Consulting
				%p
					Chinese and United States clients entering international markets
			%li
				%h4
					Corporate Expansion/Investments
				%p
					Business development and cross border expansion 
			%li
				%h4
					Private Company Expansion
				%p
					Small-cap clients $0.5-10 mill USD-short term;
					Mid-cap clients $10-20 mill USD-mid term
	
	