<!DOCTYPE html>
<html>
  <head>
		<meta{content="text/html; charset=UTF-8" http-equiv="Content-Type"} />
	</head>
	<body>
		<h1>Thank you for contacting us!</h1>
		<p>We have successfully received your message.</p>

		<p>All of our clients are important to us. Please allow us some time to review your message and respond accordingly.  Thank you and have a great day!</p>

		<p>Sincerely,<p>
		<p>Gregory Wilson –– Co-Founder QPC Partners<p>
	</body>
</html>