#mainSlider.carousel.slide
	%ol.carousel-indicators
		%li{"data-target"=>"#mainSlider", "data-slide-to"=>"0", "class"=>"active"}
		%li{"data-target"=>"#mainSlider", "data-slide-to"=>"1"}
		%li{"data-target"=>"#mainSlider", "data-slide-to"=>"2"}
	.carousel-inner
		.item.active
			= image_tag "bg.jpg"
			.carousel-caption
				%a{:href=>'/investment'}
					%h3
						QPC Named Corcoran China Representative
					%p
						As Corcoran Group's China Representative, QPC greatly enhances its ability to provide comprehensive, elite international business expansion services to its clients.
		.item
			= image_tag "bg.jpg"
			.carousel-caption
				%a{:href=>'/consulting'}
					%h3
						Bionic Eye Technologies Inc.
					%p 
						QPC Partners consulting Bionic Eye Technologies Inc. during first round capital raising for their revolutionary vision correction device, in July 2013.

		.item
			= image_tag "bg.jpg"
			.carousel-caption
				%a{:href=>'/investment'}
					%h3
						Upcoming Investment Projects
					%p 
						New fund being raised between June-August 2013 for Sept-Dec foreclosure purchases in the Washington DC and NYC metro areas; properties to be listed for rent or sale by April 2014.

	%a.left.carousel-control{"href"=>"#mainSlider", "data-slide"=>"prev"}
		%span.glyphicon.glyphicon-chevron-left
	%a.right.carousel-control{"href"=>"#mainSlider", "data-slide"=>"next"}
		%span.glyphicon.glyphicon-chevron-right