#mainSlider.carousel.slide
	%ol.carousel-indicators
		%li{"data-target"=>"#mainSlider", "data-slide-to"=>"0", "class"=>"active"}
		%li{"data-target"=>"#mainSlider", "data-slide-to"=>"1"}
		%li{"data-target"=>"#mainSlider", "data-slide-to"=>"2"}
	.carousel-inner
		.item.active
			= image_tag "bg.jpg"
			.carousel-caption
				%a{:href=>'/investment'}
					%h3
						QPC Representing Corcoran Group in China
					%p
						Our partnership with Corcoran Group enables us to better meet our clients' demands for ultra high-end real estate.
		.item
			= image_tag "bg.jpg"
			.carousel-caption
				%a{:href=>'/consulting'}
					%h3
						Bionic Eye Technologies
					%p 
						QPC providing consulting services to Bionic Eye Technologies Inc. during first round capital raising, July 2013.

		.item
			= image_tag "bg.jpg"
			.carousel-caption
				%a{:href=>'/investment'}
					%h3
						Upcoming Investment Projects
					%p 
						Fundraising between June-August 2013 for Sept-Dec foreclosure purchases in the Washington DC and NYC metro areas.

	%a.left.carousel-control{"href"=>"#mainSlider", "data-slide"=>"prev"}
		%span.glyphicon.glyphicon-chevron-left
	%a.right.carousel-control{"href"=>"#mainSlider", "data-slide"=>"next"}
		%span.glyphicon.glyphicon-chevron-right