%hr.featurette-divider

.featurette.feat-l.clearfix
	= image_tag 'dragon.jpg', :class => 'featurette-image img-circle pull-right'
	%h2.featurette-heading
		Bridging the Gap
	%p.lead
		With in-depth cross-cultural understanding, QPC is positioned to assist its clients with addressing potential issues involved with international investment and expansion before they arise.

%hr.featurette-divider
		
.featurette.feat-r.clearfix
	= image_tag 'dragon.jpg', :class => 'featurette-image img-circle pull-left'
	%h2.featurette-heading
		Spearheading Projects
	%p.lead
		Our objective is to effectively consult our clients on the hurdles and requirements involved in international expansion, to eliminate bottlenecks and allow clients to focus on developing and implementing strategies for the future growth.

%hr.featurette-divider

.featurette.feat-l.clearfix
	= image_tag 'http://placehold.it/512x512', :class => 'featurette-image img-circle pull-right'
	%h2.featurette-heading
		Deal Execution
	%p.lead
		We provide our clients with the knowledge and skills necessary to successfully execute international transactions, including (but not limited to): project management, cultural briefings, as well as language, legal, and financial services