%hr.featurette-divider

.featurette.feat-l.clearfix
	= image_tag 'http://placehold.it/512x512', :class => 'featurette-image img-circle pull-right'
	%h2.featurette-heading
		First featurette heading
	%p.lead
		This is some text for the first featurette.  It should stand out against the background and read clearly.

%hr.featurette-divider
		
.featurette.feat-r.clearfix
	= image_tag 'http://placehold.it/512x512', :class => 'featurette-image img-circle pull-left'
	%h2.featurette-heading
		Second featurette heading
	%p.lead
		This is some text for the first featurette.  It should stand out against the background and read clearly.

%hr.featurette-divider

.featurette.feat-l.clearfix
	= image_tag 'http://placehold.it/512x512', :class => 'featurette-image img-circle pull-right'
	%h2.featurette-heading
		Last featurette heading
	%p.lead
		This is some text for the first featurette.  It should stand out against the background and read clearly.

%hr.featurette-divider