.container.marketing
	.row
		.col-sm-4
			= image_tag 'http://placehold.it/180x180', :class => 'img-circle'
			%h2
				Network of Experts
			%p
				Our core team is composed of experts from integral sectors such as finance, law, government regulation and logistics. 
			%a.btn.btn-default{:href=>'/services'}
				Learn More
		.col-sm-4
			= image_tag 'http://placehold.it/180x180', :class => 'img-circle'
			%h2
				Diverse Project Portfolio
			%p
				We are engaged in numerous high-yield markets within China and the United States as product developers and consultants.
			%a.btn.btn-default{:href=>'/consulting'}
				View details
		.col-sm-4
			= image_tag 'http://placehold.it/180x180', :class => 'img-circle'
			%h2
				Luxury Real Estate
			%p
				Through direct investment and strategic partnerships, QPC is able to offer its clients "ground floor access" to some of the finest investment opportunities available from New York to Washington DC.
			%a.btn.btn-default{:href=>'/investments'}
				Learn More