@import "variables";
@import "mixins";

/* other stylesheets included at bottom of page */

html { font-size: 62.5%; } /* =10px */
body { 
	font: {
		size: 14px;
		size: 1.6rem; 
		family: 'Roboto', sans-serif;
		weight: lighter;
	}
  background: hsl(0, 0%, 70%); /*url('bg.jpg') top fixed*/
}
＃wrapper {
	width: 100%;
	background: transparent;
}
.wrapper {
	position: relative;
}
.right {float: right;}
.left {float: left;}
#container_header {
	width: 960px;
	height: 16rem;
	margin: 0 auto;
}
#container {
	width: 960px;
	display: relative;
	margin: 0 auto;
	color: white;
	min-height: 100%;
	height: auto !important;
}
h1 {
	font-size: 32px;
	font-size: 3.2rem;
	font-weight: 200 !important;
	padding: 0.5rem 0 2rem 0;
}
h2 {
	font-size: 2.8rem;
	font-size: 28px;
	font-weight: 100 !important;
	padding: 0.5rem 0;
}
h3 {
	font-size: 2.0rem;
	font-size: 20px;
	font-weight: 200;
	padding: .5rem 0;
}
h4 {
	font-size: 1.6rem;
	font-size: 16px;
	font-weight: 400;
	padding: 1rem;
	margin: 0.5rem 0;
}
h5 {
	font-size: 2.0rem;
	font-size: 20px;
	color: blue;
	font: bold italic;
}
h6 {
	font-size: 1.6rem;
	font-size: 16px;
	font-style: bold;
}
p {
	line-height: 2.1rem;
	font-weight: 200;
	margin-bottom: 1rem;
}
a {
	color: rgb(0, 58, 117);
	text-decoration: none;
	&:visited {
		color: rgb(1, 35, 66);
		text-decoration: none;
	}
	&:hover {
		text-decoration: underline;
	}
}
article {
	@include box-shadow(false, 0, 0.1rem, 2rem, $shadow-color);
	width: 60%;
	padding: 1.5rem 2rem;
	background-color: rgba(255, 255, 255, 1.0);
	color: #111;
}
aside {
	width: 33%;
}

@import "header";
@import "nav";
@import "pages";
@import "footer";
