
@media (min-device-width: 320px) and (max-device-width: 568px) {
	html { font-size: 62.5%; } /* =10px */
	body { 
		font: {
			size: 14px;
			size: 1.6rem; 
			family: 'Roboto', sans-serif;
			weight: lighter;
		}
		background-color: hsl(0, 0%, 70%);
		background: url('gray.png');
	}

	#wrapper {
		width: 440px;
		margin: 0 auto;
		position: relative;
		background: transparent;
	}
	.wrapper {
		position: relative;
	}
	.right {float: right;}
	.left {float: left;}
	#container_header {
		height: 15rem;
	}
	#container {
		color: white;
		height: 100%;
		position: relative;
	}
	h1 {
		font-size: 32px;
		font-size: 3.2rem;
		font-weight: 200 !important;
		padding: 0.5rem 0 2rem 0;
	}
	h2 {
		font-size: 2.8rem;
		font-size: 28px;
		font-weight: 100 !important;
		padding: 0.5rem 0;
	}
	h3 {
		font-size: 2.0rem;
		font-size: 20px;
		font-weight: 200;
		padding: .5rem 0;
	}
	h4 {
		font-size: 1.6rem;
		font-size: 16px;
		font-weight: 400;
		padding: 1rem;
		margin: 0.5rem 0;
	}
	h5 {
		font-size: 2.0rem;
		font-size: 20px;
		color: blue;
		font: bold italic;
	}
	h6 {
		font-size: 1.6rem;
		font-size: 16px;
		font-style: bold;
	}
	p {
		line-height: 2.1rem;
		font-weight: 200;
		margin-bottom: 1rem;
	}
	a {
		color: rgb(0, 58, 117);
		text-decoration: none;
		&:visited {
			color: rgb(1, 35, 66);
			text-decoration: none;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	article {
		@include box-shadow(false, 0, 0.1rem, 1rem, $shadow-color);
		@include transition(all, 200ms);
		width: 60%;
		padding: 1.5rem 2rem;
		background-color: rgba(255, 255, 255, 1.0);
		color: #111;
		&:hover {
			@include box-shadow(false, 0, 0.1rem, 2.5rem, $shadow-color);
			@include transition(all, 200ms);
		}
	}
	aside {
		width: 33%;
	}
}

@import "m_header";
@import "m_nav";
@import "m_pages";
@import "m_cn";
@import "m_footer";
