@media (min-device-width : 320px) and (max-device-width : 568px) {
	footer.left {
		clear: both;
		float: right;
		display: block;
		padding: 1.5rem;
		margin: 7rem 0 3rem;
		background-color: hsla(0,0,0,0.8);
		@include transition(all, 200ms);
		color: white;
		a {
			color: white;
			text-decoration: none;
			@include transition(all, 200ms);
			&:visited {
				color: white;
			}
			&:hover {
				color: #999;
				text-decoration: none;
				@include transition(all, 200ms);
			}
		}
		&:hover {
			background-color: hsla(0,0,0,1);
			@include transition(all, 200ms);
		}
		#footer_wrapper {
			.copyright {

			}
		}
	}
}