@mixin box-shadow($inset: false, $x: 0.1rem, $y: 0.1rem, $size: 1.5rem, $color: #222) {
	-webkit-box-shadow: $inset $x $y $size $color;
	-moz-box-shadow: $inset $x $y $size $color;
	-o-box-shadow: $inset $x $y $size $color;
	box-shadow: $inset $x $y $size $color; }