@import 'mixins';

/* 
 * ==================================================
 *	NAVBAR, CAROUSEL and MAIN PAGE positioning fixes
 * ==================================================
*/

	/* =======  "Containers"  ======= */
	/* control slider and navbar positioning and layering (z-index) */

#mainSlider { 
	z-index: 1;
	position: relative; }
.navbar-wrapper { 
	z-index: 10; 
	position: relative; }

@media (min-width: 768px) {
	.navbar-wrapper { padding-top: 45px; }
	#mainSlider { top: -115px; } }

@media (max-width: 768px) {
	.navbar-wrapper { 
		padding-top: 0px; 
		position: fixed;
		right: 0;
		left: 0; 
		z-index: 1030; }
	#mainSlider { 
		top: -20px; 
		margin-bottom: 25px; } }

	/* =======  Menu Toggle Button  ======== */
	/* move the navbar toggle button to the left side */

.navbar-toggle { left: 10px; }

	/* =======  Language Button  ======== */
	/* add the language button to the right side */

.nav-lang-btn {
	color: white;
	position: absolute;
	right: 10px;
	margin: 6px 0; }

	/* =======  Carousel Caption  ======== */
	/* modify caption to run the length of the container */



	/* =======  Pages Positioning  ======== */
	/* add padding to top of pages-container to make up for 
	   navbar's fixed position in mobile views */

@media (max-width: 768px) {
	#pages-container { padding-top: 60px; } }

	/* =======  'active' classes for navbar links  ======== */

ul.nav.navbar-nav li.active {
	background-color: #f6f6f6;
}

/* 
 * ==================================================
 *	MARKETING FEATURES copy
 * ==================================================
*/

	/* pad the edges of the mobile views a bit */

.marketing {
  padding-left: 15px;
  padding-right: 15px; }

	/* center align the text within the three columns below the carousel */

.marketing .col-sm-4 {
  text-align: center;
  margin-bottom: 40px; }

.marketing h2 {
  font-weight: normal; }

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px; }

/* 
 * ==================================================
 *	FEATURETTES
 * ==================================================
*/

	/* add some padding to the bottom of the %hr.featurette-divider */

hr.featurette-divider { padding-bottom: 40px; }

	/* set left and right side featurette text alignment */

.featurette { }
.feat-l { text-align: left; }
.feat-r { text-align: right; }

.featurette-image { margin-bottom: 25px; }
@media (max-width: 710px) {
	.featurette-image { 
		width: 512px;
		height: 512px; } }

@media (max-width: 767px) {
	h2.featurette-heading { padding: 20px 20px 10px 20px; }
	p.lead { padding: 0 20px 30px; } }

@media (min-width: 710px) {
	h2.featurette-heading { min-width: 280px; } }

 /* 
 * ==================================================
 *	FOOTER styles
 * ==================================================
*/

footer.col-12 .copyright {
	float: right;
	padding: 60px 0;
	color: #d8d8d8; }

/* 
 * ==================================================
 *	MISCELLANEOUS styles
 * ==================================================
*/

	/* style a darker 'well' element for use with white text */

.dark-well { 
	background-color: #777;
	border-color: #222;
	color: white;
	@include box-shadow(inset, 0, 0, 8px, #444); }

