@import 'mixins';

/* 
 * ==================================================
 *	BODY CONTAINER overflow hide
 * ==================================================
*/

	/* hides the overflow of featurette images in mobile views */

#pages-container > .container { overflow: hidden; }
@media (max-width: 767px) {
	#pages-container > .container { padding: 50px 0 0; } }

/* 
 * ==================================================
 *	NAVBAR, CAROUSEL and MAIN PAGE positioning fixes
 * ==================================================
*/

	/* navbar color (to match accordion and panels) */

.navbar { background-color: #f5f5f5; }

	/* =======  "Containers"  ======= */
	/* control slider and navbar positioning and layering (z-index) */

#mainSlider { 
	z-index: 1;
	position: relative;
	min-width: 300px; }
.navbar-wrapper { 
	z-index: 10; 
	position: relative; }

@media (min-width: 768px) {
	.navbar-wrapper { 
		padding-top: 45px; }
	#mainSlider { 
		top: -180px; 
		margin-bottom: -80px; } }

@media (min-width: 1200px) {
	#mainSlider { 
		top: -260px; 
		margin-bottom: -180px; } }

@media (max-width: 768px) {
	.navbar-wrapper { 
		padding-top: 0px; 
		position: fixed;
		right: 0;
		left: 0; 
		z-index: 1030; }
	#mainSlider { 
		top: 0; 
		padding-top: 0;
		margin-bottom: 25px; } }

@media (max-width: 768px) {
	.container > h1, .container > h2 { 
		padding-left: 15px;
		padding-right: 15px; }
}
	
	/* =======  Limit height of carousel images  ======== */
	/* set a min-width on carousel-inner and set carousel caption */
	/* CAROUSEL CAPTION STYLED HERE AS WELL  !!!IMPORTANT!!! */

.carousel-inner .item { min-width: 500px; overflow: hidden; }
.carousel-inner .item img { min-width: 600px; }

@media (min-width: 501px) and (max-width: 600px) {
	.carousel-caption { max-width: 400px; } }

@media (min-width: 401px) and (max-width: 500px) {
	.carousel-caption { max-width: 260px; } }

@media (max-width: 400px) {
	.carousel-caption { max-width: 220px; } }

@media (max-width: 350px) {
	.carousel-caption { max-width: 220px; }
	.carousel-inner .item { margin-left: -30px; } }

	/* =======  Menu Toggle Button  ======== */
	/* move the navbar toggle button to the left side */

.navbar-toggle { left: 10px; }

	/* =======  Language Button  ======== */
	/* add the language button to the right side */

.nav-lang-btn {
	color: white;
	position: absolute;
	right: 10px;
	margin: 6px 0; }

	/* =======  Carousel Caption  ======== */
	/* set link color and hover styles to mimic plain text */

.carousel-caption a { color: white; }
.carousel-caption a:hover { color: white; text-decoration: none; }

	/* position the caption */

@media (max-width: 768px) {
	.carousel-caption h3 { font-size: 130%; } }
@media (min-width: 768px) {
	.carousel-caption { margin-bottom: 30px; } }
@media (min-width: 1000px) { 
	.carousel-caption { margin-bottom: 60px; }
	.carousel-caption p { font-size: 110%; } 
	.carousel-caption h3 { font-size: 160%; } }
@media (min-width: 1200px) { 
	.carousel-caption { 
		max-width: 600px;
		margin: 0 auto 90px; }
	.carousel-caption p { font-size: 120%; }
	.carousel-caption h3 { font-size: 200%; } }

	/* =======  'active' classes for navbar links  ======== */

ul.nav.navbar-nav li.active {
	background-color: #d8d8d8;
}

/* 
 * ==================================================
 *	MARKETING FEATURES copy
 * ==================================================
*/

	/* pad the edges of the mobile views a bit */

.marketing {
  padding-left: 15px;
  padding-right: 15px; }

	/* center align the text within the three columns below the carousel */

.marketing .col-sm-4 {
  text-align: center;
  margin-bottom: 40px; }

.marketing h2 {
  font-weight: lighter; }
@media (min-width: 768px) and (max-width: 1000px) {
	.marketing h2 { font-size: 25px; } }

.marketing .col-lg-4 > p {
  margin-left: 10px;
  margin-right: 10px; }

/* 
 * ==================================================
 *	FEATURETTES
 * ==================================================
*/

	/* add some padding to the bottom of the %hr.featurette-divider */

hr.featurette-divider { padding-bottom: 40px; }

	/* set left and right side featurette text alignment */

.featurette { }
.feat-l { text-align: left; }
.feat-r { text-align: right; }

.featurette-image { margin-bottom: 25px; }
@media (max-width: 710px) {
	.featurette-image { 
		width: 512px;
		height: 512px; } }

@media (max-width: 767px) {
	h2.featurette-heading { padding: 20px 20px 10px 20px; }
	p.lead { padding: 0 20px 30px; } }

@media (min-width: 710px) {
	h2.featurette-heading { min-width: 280px; } }

 /* 
 * ==================================================
 *	FOOTER styles
 * ==================================================
*/

footer.col-12 .copyright {
	float: right;
	padding: 60px 0;
	color: #d8d8d8; }

/* 
 * ==================================================
 *	FORM styles
 * ==================================================
*/

.form-control:focus {
  border-color: #04498F;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #04498F;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #04498F; }

/* 
 * ==================================================
 *	FLASH MESSAGE styles
 * ==================================================
*/

	/* styles for the flash messages needed for index and contact */

.flash { padding: 20px 0; }

.flash-contact {
	@include rounded(4px);
	border: solid 1px;
	padding: 10px 20px;
	margin: 0 0 30px 0;
}

.flash-index { 
	position: absolute; 
	top: 0;
	width: 100%;
	display: block; }

.flash-notice { 
	background-color: #fefefe;
	border-color: #333;
	color: #333; }
.flash-success { 
	background-color: #dff0d8;
	border-color: #468847;
	color: #468847; }
.flash-warning {
	background-color: #fcf8e3;
	border-color: #c09853;
	color: #c09853; }

/* 
 * ==================================================
 *	MISCELLANEOUS styles
 * ==================================================
*/

	/* style a darker 'well' element for use with white text */

.dark-well { 
	background-color: #777;
	border-color: #222;
	color: white;
	@include box-shadow(inset, 0, 0, 8px, #444); }

p.well { 
	color: #111;
	text-shadow: none; }

	/* accordion styles */

.accordion-group {
	border: 1px solid #04498F;
}

.accordion-heading {
	background-color: #e6eff7; }

.accordion-inner {
	background-color: #ffffff;
	border-top-color: #04498F; 
}

	/* fluid image class */

.fluid-image { max-width: 100%; }

.consulting-image { 
	@include rounded(4px);
	border: 1px solid #333; }

	/* padding for small devices */

@media (max-width: 767px) {
	.padding-sm { padding: 0 15px; } }

	/* a larger font-size, without .lead */

@media (min-width: 1200px) {
	.text-large { font-size: 130%; } }

	/* grid 'col-lg-4 > p' style below 1000px  */

@media (max-width: 1000px) {
	.col-lg-4 > p { margin-top: 0; } }	

@media (max-width: 768px) {
	.col-lg-4 > p { margin: 20px 0; }
	.col-sm-3 > p { margin: 20px 0; } }
